<!DOCTYPE html>
<html lang="fr">
    <head>
        
        {% block meta %}
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, user-scalable=false;">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="description" content="Site vitrine CSKS 91"/>

        <meta property="business:contact_data:country_name" content="France"/>
        <meta property="business:contact_data:locality" content="Boussy Saint-Antoine"/>
        <meta property="business:contact_data:region" content="500"/>
        <meta property="business:contact_data:email" content="fakum.baccam@gmail.com"/>
        <meta property="business:contact_data:postal_code" content="91800"/>
        <meta property="business:contact_data:phone_number" content=""/>
        <meta property="business:hours:day" content="MONDAY"/>
        <meta property="business:hours:start" content="19:15"/>
        <meta property="business:hours:end" content="21:30"/>
        <meta property="business:hours:day" content="THURSDAY"/>
        <meta property="business:hours:start" content="18:15"/>
        <meta property="business:hours:end" content="20:30"/>
        {% endblock %}
        <title>Administration - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/c11f0f7fde.js" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}
        
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand d-none d-sm-inline" href="{{path('redactor')}}"><img src="{{asset('img/logo.jpg')}}" alt="CSKS 91"></img></a>
                <a class="navbar-brand d-sm-none d-inline" href="{{path('redactor')}}">CSKS 91</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">            
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('redactor_blogs')}}">Blogs</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{path('redactor_videos')}}">Vidéos Youtubes</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('redactor_partners')}}">Partenaires</a>
                        </li>
                        
                    </ul>
                    {% if app.user %}
                        <span class="nav-item">
                            <button class="btn nav-link" data-target=".bs-example-modal-sm" data-toggle="modal">Déconnexion</button>
                        </span>
                    {% endif %}
                </div>
            </nav>

            <div class="row p-3">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1>{{ block("title") }}</h1>
                </div>
            </div>
        {% endblock %}
        </div>
        <footer>
        {% block footer %}
        {% endblock %}
        </footer>
        <div tabindex="-1" class="modal bs-example-modal-sm" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header"><h4>Déconnexion <i class="fa fa-lock"></i></h4></div>
              <div class="modal-body"><i class="fa fa-question-circle"></i>Voulez-vous vraiment vous déconnecter ?</div>
              <div class="modal-footer"><a class="btn btn-primary btn-block" href="{{ path('app_logout') }}">Se déconnecter</a></div>
            </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
