{% extends 'redactor/base.html.twig' %}

{% block title %}CSKS91 Admin - Page d'accueil{% endblock %}

{% block body %}
<div class="container">
    {% if error %}
        <div class="alert alert-danger"><p>{{ error }}</p></div>
    {% endif %}
    <!--
    <h1>Hello  controller_name }}! ✅</h1>
     if yep %}
    <h2>Yippee</h2>
     endif %}
     if nope == false %}
    <h2>Ourah</h2>
     endif %}
    -->
    {{parent()}}
    <div class="p-3">
    {{form_start(form)}}
    {{form_widget(form)}}
    <div tabindex="-1" class="modal bs-pwd-modal-sm" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header"><h4>Changement de mot de passe <i class="fa fa-lock"></i></h4></div>
              <div class="modal-body"><i class="fa fa-question-circle"></i>Voulez-vous vraiment changer de mot de passe ?</div>
              <div class="modal-footer"><button type="submit" class="btn btn-primary btn-block">Valider</button></div>
            </div>
            </div>
    </div>
    {{form_end(form)}}
    <button class="btn btn-primary nav-link" data-toggle="modal" data-target=".bs-pwd-modal-sm">Changer de mot de passe</button>
    </div>  
</div>
{% endblock %}