{% extends 'redactor/base.html.twig' %}

{% block title %}Hello RedactorController!{% endblock %}

{% block body %}
<div class="container">
    {% if error %}
        <div class="alert alert-danger"><p>{{ error }}</p></div>
    {% endif %}
    <!--
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% if yep %}
    <h2>Yippee</h2>
    {% endif %}
    {% if nope == false %}
    <h2>Ourah</h2>
    {% endif %}
    -->
    {{parent()}}
    <div class="p-3">
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-primary" type="submit">Changer de mot de passe</button>
    {{form_end(form)}}
    </div>  
</div>
{% endblock %}
