{% extends 'redactor/base.html.twig' %}

{% block title %}{{formName}}{% endblock title %}

{% block body %}

    {{ parent() }}

    <div class="col-10 p-3">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            <p>Pour ajouter des images veuillez utiliser la balise html "&lt;img src="lien_de_l_image"/&gt;".</p>
            <p>Vos images doivent être hébergé en ligne.</p>
            <p>Pour mette votre texte en gras utiliser la balise html "&lt;strong&gt;Votre texte en gras&lt;/strong&gt;".</p>
            <p>Pour ajouter un lien utiliser la balise html "&lt;a href="https://www.monlien"&gt;Nom du lien&lt;/a&gt;".</p>
            {{ form_row(form.content) }}
            {{ form_row(form.date) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>

{% endblock %}