{% extends 'redactor/base.html.twig' %}

{% block title %}Éditer vos vidéos youtubes{% endblock %}

{% block body %}

<div class="container">
    {{parent()}}
    <div class="p-3">
    <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Titre</th>
                    <th scope="col" class="d-sm-block d-none">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col"><a href="{{path('redactor_blogs_create')}}"><i class="fas fa-plus"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                    <tr>
                        <td>{{ video.id }}</td>
                        <td>{{ video.title }}</td>
                        <td class="d-sm-block d-none">{{ video.description }}</td>
                        <td>{{ video.date|date("m/d/Y")}}</td>
                        <td>
                            <a href="{{video.link}}">
                                <!--span class="d-lg-inline-block d-none">Supprimer</span-->
                                <i class="fas fa-play"></i>
                            </a>
                            <a href="{{path('redactor_videos_update',{id:video.id})}}">
                                <!--span class="d-lg-inline-block d-none">Modifier</span-->
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{path('redactor_videos_delete',{id:video.id})}}">
                                <!--span class="d-lg-inline-block d-none">Supprimer</span-->
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
