{% extends 'redactor/base.html.twig' %}

{% block title %}Éditer vos partenaires{% endblock %}

{% block body %}
<div class="container">
    {{parent()}}
    <div class="p-3">
    <h2>Listes des partenaires</h2>
    <table class="table table-bordered table-hover table-sm text-center">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col" class="d-sm-block d-none">Lien</th>
                    <th scope="col" >Logo</th>
                    <th scope="col"><a href="{{path('redactor_partners_create')}}"><i class="fas fa-plus"/></a></th>
                </tr>
            </thead>
            <tbody>
                {% for partner in partners %}
                    <tr>
                        <td>{{ partner.id }}</td>
                        <td>{{ partner.name }}</td>
                        <td class="d-sm-block d-none">{{ partner.link }}</td>
                        <td>
                        <img style="-webkit-user-select: none;margin: auto;" src="{{ asset(partner.icon) }}"></td>
                        <td>
                            <a href="{{partner.link}}">
                                <!--span class="d-lg-inline-block d-none">Supprimer</span-->
                                <i class="fas fa-play"></i>
                            </a>
                            <a href="{{path('redactor_partners_update',{id:partner.id})}}">
                                <!--span class="d-lg-inline-block d-none">Modifier</span-->
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{path('redactor_partners_delete',{id:partner.id})}}">
                                <!--span class="d-lg-inline-block d-none">Supprimer</span-->
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
