{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
{{parent()}}
    {% for line in videos %}
        <div>
            <div class="row">
                <div class="col-5">
                    <h3>{{ line.getTitle() }}</h3>
                </div>
                <div class="col"><p>Publié le {{ line.getDate()|date('d/m/y') }}</p></div>
            </div>
            <div class="row">
                <div class="col-5">
                    <iframe width="420" height="315" src="{{line.getLink()}}">
                    </iframe>
                </div>
                <div class ="col">
                    <p>{{ line.getDescription() }}</p>
                    <a href="{{ path('video_render', {slug:line.getSlug()}) }}">Lire</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
