{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Page d'accueil{% endblock %}

{% block body %}
  {{parent()}}
  <h1>{{ video.getTitle() }}</h1>
  <div class="row">
    <div class="col-5"><iframe width="420" height="315" src="{{video.getLink()}}"></iframe></div>
    <div class="col">
      <p>{{ video.getDescription()}}</p>
      <p>Publié le {{ video.getDate()|date('d/m/y') }}</p>
    </div>
  </div>
{% endblock %}
