{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
{{parent()}}
    {% for line in blogs %}
        <div>
            <div class="row">
                <h3>{{ line.getTitle() }}</h3>
                <p>Publié le {{ line.getDate()|date('d/m/y') }}</p>
            </div>
            <div class ="row">
            {{ line.getContent() }}
            </div>
            <div>
                <a href="{{ path('blog_render', {slug:line.getSlug()}) }}">Lire</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
