{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
{{parent()}}
<ul>
    {% for line in blogs %}
        <li>
            <div class="row">
                <h3>{{ line.getTitle() }}</h3>
                <p>Publié le {{ line.getDate()|date('d/m/y') }}</p>
            </div>
            <div class ="row">
            <p>{{ line.getContent() }}</p>
            </div>
            <div>
                <a href="{{ path('blog_render', {slug:line.getSlug()}) }}">Lire</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
