{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Liste des articles{% endblock %}

{% block body %}
    {{parent()}}
    <div class="p-3">
    <div class="container">
    {% for line in blogs %}
        <div class="container p-3">
        </hr>
            <div class="row">
                <h5>{{ line.getTitle()}}</h5>
                <p>Publié le {{ line.getDate()|date('d/m/y') }}</p>
            </div>
            <div>
                <a href="{{ path('blog_render', {slug:line.getSlug()}) }}">Lire</a>
            </div>
        </div>
        </hr>
    {% endfor %}
    <div class="col-1 mx-auto">
        {% if max is not null and max > 0 %}
            <button href="{{ path('blog', {max:max-20}) }}">-</button>
        {% endif %}
        {{ max }}
        <button href="{{ path('blog', {max:max+20}) }}">+</button>

    </div>
    </div>
    </div>
{% endblock %}
