<!DOCTYPE html>
<html lang="fr">
    <head>
        
        {% block meta %}
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, user-scalable=false;">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="description"
            content="Site vitrine CSKS 91, association de karaté à Boussy Saint-Antoine"/>
        <meta name="robots" content="index,follow"/>
        <meta name="author" content="Fakum BACCAM"/>

        <meta property="business:contact_data:country_name" content="France"/>
        <meta property="business:contact_data:locality" content="Boussy Saint-Antoine"/>
        <meta property="business:contact_data:region" content="500"/>
        <meta property="business:contact_data:email" content="fakum.baccam@gmail.com"/>
        <meta property="business:contact_data:postal_code" content="91800"/>
        <meta property="business:contact_data:phone_number" content=""/>
        <meta property="business:hours:day" content="MONDAY"/>
        <meta property="business:hours:start" content="19:15"/>
        <meta property="business:hours:end" content="21:30"/>
        <meta property="business:hours:day" content="THURSDAY"/>
        <meta property="business:hours:start" content="18:15"/>
        <meta property="business:hours:end" content="20:30"/>
        {% endblock %}
        <title>CSKS91 - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/c11f0f7fde.js" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link rel="stylesheet" href="{{asset('/css/custom.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light  font-custom">
            <a class="navbar-brand d-none d-sm-inline" href="{{path('index')}}"><img src="{{asset('img/logo.jpg')}}" alt="CSKS 91"></a>
            <a class="navbar-brand d-sm-none d-inline" href="{{path('index')}}">CSKS 91</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Informations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="infoDropdown">
                            <a class="dropdown-item" href="{{path('planning')}}">Planning</a>
                            <a class="dropdown-item" href="{{path('tarif')}}">Tarif</a>
                            <a class="dropdown-item" href="{{path('plan')}}">Plan d'accès</a>
                        </div>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('blog')}}">Blogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="karateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Le Karate
                        </a>
                        <div class="dropdown-menu" aria-labelledby="karateDropdown">
                            <a class="dropdown-item" href="{{path('blessing')}}">Ses Bienfaits</a>
                            <a class="dropdown-item" href="{{path('video')}}">Vidéos Youtubes</a>
                        </div>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('contact')}}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('partner')}}">Equippez Vous</a>
                    </li>
                    </ul>
            </div>
        </nav>

        <div class="row p-3 font-custom">
            <div class="col-md-8 offset-md-2 text-center">
                <h1>{{ block("title") }}</h1>
            </div>
        </div>
        <div class="background-custom">
        {% block body %}
        
            
            
            <div class="p-3">
                <div class="bd-example">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('img/emotionheader.png') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_1.jpg') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-danger">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_2.png') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_3.png') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_4.jpg') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_5.jpg') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('img/emotionheader_6.jpg') }}" class="d-block w-100" alt="Header">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>KARATE pour tous à BOUSSY SAINT ANTOINE</h5>
                                    <p>2 rue des glaises dans la salle de karaté du COSEC Tél : 06 81 60 69 19</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précédent</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
        <footer>
        {% block footer %}
            <div class="container bg-light pt-3">
                <div class="row mx-1">
                    <div class="col-sm row-xs">
                        <a class="" href="{{path('index')}}">Accueil</a>
                    </div>
                    <div class="col-sm row-xs m">
                        <a class="" href="{{path('legal')}}">Mentions légales</a>
                    </div>
                    <div class="col-sm row-xs">
                        <a class="" href="{{path('contact')}}">Contact</a>
                    </div>
                </div>
                <hr/>
                <div class="row mx-1">
                    <p>{{ copyright|raw }}</p>
                </div>
            </div>
        {% endblock %}
        </footer>
        {% block javascripts %}
        <script>
            $(document).ready(function() {
                $('.carousel').carousel({
                    interval: 2000
                })
            });
        </script>
        {% endblock %}
    </body>
</html>
